name: Publish Images

on: push

jobs:
  publish-all-images:
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        python_version: ["3.11.14", "3.12.12", "3.13.9"]
        os_variant: ["trixie", "slim-trixie"]
        poetry_version: ["1.7.1", "1.8.5", "2.2.1"]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Expose GitHub Runtime
        uses: crazy-max/ghaction-github-runtime@v3          
      - name: Get Git Commit Tag Name
        uses: olegtarasov/get-tag@v2.1.4
      - name: Set up Python environment
        uses: ./.github/actions/setup-environment
      - name: Install dependencies
        run: |
          poetry install --no-interaction --no-root
      - name: Publish Images to Docker Hub
        env:
          DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
          DOCKER_HUB_TOKEN: ${{ secrets.DOCKER_HUB_TOKEN }}
          PYTHON_VERSION: ${{ matrix.python_version }}
          OS_VARIANT: ${{ matrix.os_variant }}
          POETRY_VERSION: ${{ matrix.poetry_version }}
        run: |          
          poetry run python -m build.publish
