name: Test Image Build

on:
  push:
    paths:
      - build/**
      - tests/**
      - poetry.lock
      - .github
    tags-ignore:
      - '*'

jobs:
  test-image-build:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        python_version: ["3.11.14", "3.12.12", "3.13.9"]
        os_variant: ["trixie", "slim-trixie"]
        poetry_version: ["1.7.1", "1.8.5", "2.2.1"]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Expose GitHub Runtime
        uses: crazy-max/ghaction-github-runtime@v3
      - name: Set up Python environment
        uses: ./.github/actions/setup-environment
      - name: Install dependencies
        run: |
          poetry install --no-interaction --no-root
      - name: Run tests for image builds with pytest
        env:
          PYTHON_VERSION: ${{ matrix.python_version }}
          OS_VARIANT: ${{ matrix.os_variant }}
          POETRY_VERSION: ${{ matrix.poetry_version }}
        run: |
          poetry run pytest tests/build_image --cov --cov-report=xml:build_image_coverage_report.xml
      - name: Upload coverage report to artifactory
        uses: actions/upload-artifact@v4
        with:
          name: build-image-coverage-report-${{ matrix.python_version }}-${{ matrix.os_variant }}-${{ matrix.poetry_version }}
          path: build_image_coverage_report.xml
          if-no-files-found: error
          retention-days: 1

  test-image-publishing:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        python_version: ["3.11.14", "3.12.12", "3.13.9"]
        os_variant: ["trixie", "slim-trixie"]
        poetry_version: ["1.7.1", "1.8.5", "2.2.1"]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Expose GitHub Runtime
        uses: crazy-max/ghaction-github-runtime@v3
      - name: Set up Python environment
        uses: ./.github/actions/setup-environment
      - name: Install dependencies
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
        run: |
          poetry install --no-interaction --no-root
      - name: Run tests for image publishing with pytest
        env:
          PYTHON_VERSION: ${{ matrix.python_version }}
          OS_VARIANT: ${{ matrix.os_variant }}
          POETRY_VERSION: ${{ matrix.poetry_version }}
        run: |
          poetry run pytest tests/publish_image --cov --cov-report=xml:publish_image_coverage_report.xml
      - name: Upload coverage report to artifactory
        uses: actions/upload-artifact@v4
        with:
          name: publish-image-coverage-report-${{ matrix.python_version }}-${{ matrix.os_variant }}-${{ matrix.poetry_version }}
          path: publish_image_coverage_report.xml
          if-no-files-found: error
          retention-days: 1

  upload-test-coverage-reports:
    needs:
      - test-image-build
      - test-image-publishing
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Download coverage reports from artifactory
        uses: actions/download-artifact@v4
      - name: Compile the relevant reports
        run: |
          find . -name "*.xml" -exec cp {} . \;
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          files: ./build_image_coverage_report.xml,./publish_image_coverage_report.xml
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}
